@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Prata&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --primary-color: rgb(67, 132, 255);
    --secondary-color: rgb(0, 26, 75);
    --text-color: rgb(0, 0, 0);
    --primary-foreground: rgb(255, 255, 255);
    --secondary-foreground: rgb(255, 255, 255);
    --bg-primary: rgb(255, 255, 255);
    --bg-secondary: rgb(0, 26, 75);
}

body,
html {
    height: 100%;
    width: 100%;
}

.text-primary-color {
    color: var(--primary-color);
}

.text-secondary-color {
    color: var(--secondary-color);
}

.text-color {
    color: var(--text-color);
}

.text-primary-foreground {
    color: var(--primary-foreground);
}

.text-secondary-foreground {
    color: var(--secondary-foreground);
}

.text-bg-primary {
    color: var(--bg-primary);
}

.text-bg-secondary {
    color: var(--bg-secondary);
}

.bg-primary-color {
    background-color: var(--primary-color);
}

.bg-secondary-color {
    background-color: var(--secondary-color);
}

.bg-text-color {
    background-color: var(--text-color);
}

.bg-primary-foreground {
    background-color: var(--primary-foreground);
}

.bg-secondary-foreground {
    background-color: var(--secondary-foreground);
}

.bg-primary {
    background-color: var(--bg-primary);
}

.bg-secondary {
    background-color: var(--bg-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--secondary-color);
    font-family: "Prata", serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.font-prata {
    font-family: "Prata", serif;
}

/* Global Styling */

.button-primary {
    color: var(--primary-foreground);
    background-color: var(--primary-color);
    border-radius: 15px;
    padding: 10px 25px;
    border: none;
    transition: all 0.3s ease;
}

.button-primary:hover {
    background-color: var(--primary-foreground);
    color: var(--primary-color);
}

.button-secondary {
    color: var(--secondary-foreground);
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding: 10px 25px;
    border: none;
    transition: all 0.3s ease;
}

.button-secondary:hover {
    color: var(--primary-foreground);
    background-color: var(--primary-color);
}

.button-accent {
    color: var(--secondary-color);
    background-color: var(--secondary-foreground);
    border-radius: 15px;
    padding: 10px 25px;
    border: none;
    transition: all 0.3s ease;
}

.button-accent:hover {
    background-color: var(--secondary-color);
    color: var(--secondary-foreground);
}

.button-primary-outline {
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    padding: 10px 25px;
    transition: all 0.3s ease;
}

.button-primary-outline:hover {
    background-color: var(--primary-color);
    color: var(--primary-foreground);
}

.button-secondary-outline {
    color: var(--secondary-color);
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    border-radius: 15px;
    padding: 10px 25px;
    transition: all 0.3s ease;
}

.button-secondary-outline:hover {
    background-color: var(--secondary-color);
    color: var(--secondary-foreground);
}

.min-h-100vh {
    min-height: 100vh;
}

.h-100vh {
    height: 100vh;
}

.h-screen {
    height: 100vh;
}

.w-full {
    width: 100%;
}

.w-screen {
    width: 100vw;
}

.min-h-50vh {
    min-height: 50vh;
}

.min-h-75vh {
    min-height: 75vh;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px !important;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px !important;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px !important;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px !important;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px !important;
    }
}