@import url("./base.css");

.header {
    background-color: color-mix(in srgb, var(--secondary-color) 40%, transparent);
    padding: 20px 50px !important;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    margin: 15px;
}

.nav-link {
    color: var(--secondary-foreground) !important;
}

.nav-link:hover {
    color: var(--primary-color) !important;
}