@import url("./base.css");

.hero-section {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/Services-Background.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}